<section>
    <h2 mat-dialog-title>Inicio de sesión</h2>
    <form [formGroup]="logForm" (ngSubmit)="sendLogForm()">
        <mat-dialog-content>
            <div class="row">
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="correo@ejemplo.com" formControlName="email">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="example-form-field">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="contrasena">
                </mat-form-field>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-stroked-button color="primary" mat-dialog-close>Cancelar</button>
            <button mat-raised-button type="submit"color="primary">Iniciar sesión</button>
        </mat-dialog-actions>
    </form>
</section>