#main-body {
    width: 80%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
mat-form-field {
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
}

button {
    text-align: center;
    padding: 20px;
    margin: 0 0 20px 0;
    width: fit-content;
}

.button-add mat-icon{
    margin-right: -3px;
}

.acciones {
    right: 0;
}

.celda-nombre {
    width: 85%;
}

.celda-acciones {
    width: 15%;
    text-align: center;
}